@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

body {
  font-family: 'Montserrat', monospace;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.container {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Time-container-tokyo {
  height: 50% ;
  width: 330px;
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /*background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/400x600/?japan,tokyo,night"); */
  background-color: #22a9af;
  border-radius: 10px
}

.Time-container-actual {
  height: 50%;
  width: 330px;
  border: 1px solid;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://source.unsplash.com/400x600/?city,night"); */
  background-color: #22a9af;
  border-radius: 10px
}

.Label {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 400;
  margin: 10px auto;
  font-weight: bolder;
}

.Day {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

.Time {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.Date {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
  font-weight: 100;
}

// Media query for Xs screens (mobile)

@media(max-width: 768px) {
  .container {
    flex-direction: column
  }
}
